
.btn-close {
    border: none;
    color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    
    &.sobre {
        color:black;
    }
}
.downIcon{
    border: none;
    color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    
    &.sobre {
        color:black;
    }
}


