// src/assets/styles/UserDropDown.scss

.profile-dropdown {
    position: relative;


    .profile-trigger {
        display: flex;
        align-items: center;
    }

    span {
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
    }

    .dropdown-menu.open {
        opacity: 1;
        max-height: 200px; // Ajuste conforme necessário
        visibility: visible;
        transform: translateY(0);
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: #333;
        text-decoration: none;

        &:hover {
            background-color: #f5f5f5;
        }

        svg {
            margin-right: 0.5rem;
        }
    }
}